@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css?family=Neucha');

/** CSS STYLE **/
body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha';
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.background::before {
  position: absolute;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}

.background {
  background-color: #F5F4F0;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.header-title {
  position: relative;
  height: 525px;

  overflow: visible;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
  width: 100%;

  background-image: url('../images/main.png');
  background-size: auto 100%;
}

.p-30 {
  padding: 15px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.container {
  width: 1110px;

  margin: auto;
}

.text-orange {
  color: #fe8a02;
}



.fb-540 {
  flex-basis: 540px;
}

.text-72 {
  font-size: 72px;
}

.text-dark {
  color: #2A2626;
}

.text-white {
  color: white;
}

.btn {
  border: 0;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.flex-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.d-block {
  display: block;
}

.mb-minus-100 {
  margin-bottom: -100px;
}

.h-500 {
  height: 500px;
}

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: #f5f4f0;
}

.bg-dark-50 {
  background-color: #908d8b;
}

.bg-dark {
  background-color: #2a2626;
}

.bg-brown {
  background-color: #b09a81;
}

.bg-orange {
  background-color: #fe8a02;
}

.bg-dark-primary {
  background-color: #42413c;
}

.bg-white-50 {
  background-color: #d7ccc0;
}

.bg-blue {
  background-color: #1085c5;
}

.white {
  color: #fff;
}

.transparent-white {
  color: #d7ccc0;
}

.light {
  color: #f5f4f0;
}

.primary {
  color: #fe8a02;
}

.primary-dark {
  color: #42413c;
}

.dark {
  color: #2a2626;
}

.transparent-dark {
  color: #908d8b;
}

.brown {
  color: #b09a81;
}

.blue {
  color: #1085c5;
}
